<section class="login-page home-link">
    <div class="form-heading heading-default">
        <h1>Log In</h1>
    </div>
    <div class="form-section form-default">
        <form class="login-form login-default">
            <div>
                <label for="username-login">Username</label>
                <input type="text" class="entry-field feild-default" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input type="password" class="entry-field feild-default" id="password-login" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn btn-default">login</button>
            </div>
        </form>
    </div>
    <a href="/signup" class="sign-in-link login-link">sign up instead</a>
</section>
<script src="/javascript/login.js"></script>