<section class="sign-in-page login-default">
    <div class="form-heading form-default">
        <h1>sign up</h1>
    </div>
    <div class="form-section form-default">
        <form class="signup-form login-default">
            <div>
                <label for="username-signup">Username</label>
                <input type="text" class="entry-field feild-default" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">password</label>
                <input type="password" class="entry-field feild-default" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn btn-login">Sign Up</button>
            </div>
        </form>
    </div>
    <a href="/login" class="login-link link-default">log in</a>
</section>
<script src="/javascript/signup.js"></script>